<section class="hero hero-decor">
  <div class="container">
    <div class="hero__head">
      <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
      <p class="hero__descr heading-h1">
        Choose a plan for a more advanced business
      </p>
      <label class="hero__switcher-wrapper">
        <span class="hero__switcher">
          <input class="hero__switcher-checkbox" type="checkbox" checked />
        </span>
        <span class="hero__switcher-text text-p-default"
          >Annual pricing (save 20%)</span
        >
      </label>
    </div>
    <ul class="hero__list">
      <li class="hero__item">
        <div class="hero__item-icon">
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.31802 2.31802C0.56066 4.07538 0.56066 6.92462 2.31802 8.68198L10.0001 16.364L17.682 8.68198C19.4393 6.92462 19.4393 4.07538 17.682 2.31802C15.9246 0.56066 13.0754 0.56066 11.318 2.31802L10.0001 3.63609L8.68198 2.31802C6.92462 0.56066 4.07538 0.56066 2.31802 2.31802Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__item-title text-p-large">Starter</h3>
        <p class="hero__item-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__item-price heading-h2">
          $100
          <span class="hero__item-price-text text-p-default"> /mo </span>
        </div>
        <h4 class="hero__item-list-title text-p-default">What’s included:</h4>
        <ul class="hero__item-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--disabled">History of all Liked Photos</li>
          <li class="hero__plans-item hero__plans-item--disabled">Directory Listing</li>
          <li class="hero__plans-item hero__plans-item--disabled">Customize Your Profile</li>
          <li class="hero__plans-item hero__plans-item--disabled">Display Your Workshops</li>
        </ul>
        <button class="hero__item-btn text-p-default">Chose Plan</button>
      </li>
      <li class="hero__item">
        <div class="hero__item-icon">
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.31802 2.31802C0.56066 4.07538 0.56066 6.92462 2.31802 8.68198L10.0001 16.364L17.682 8.68198C19.4393 6.92462 19.4393 4.07538 17.682 2.31802C15.9246 0.56066 13.0754 0.56066 11.318 2.31802L10.0001 3.63609L8.68198 2.31802C6.92462 0.56066 4.07538 0.56066 2.31802 2.31802Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__item-title text-p-large">Starter</h3>
        <p class="hero__item-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__item-price heading-h2">
          $100
          <span class="hero__item-price-text text-p-default"> /mo </span>
        </div>
        <h4 class="hero__item-list-title text-p-default">What’s included:</h4>
        <ul class="hero__item-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--disabled">History of all Liked Photos</li>
          <li class="hero__plans-item hero__plans-item--disabled">Directory Listing</li>
          <li class="hero__plans-item hero__plans-item--disabled">Customize Your Profile</li>
          <li class="hero__plans-item hero__plans-item--disabled">Display Your Workshops</li>
        </ul>
        <button class="hero__item-btn text-p-default">Chose Plan</button>
      </li>
      <li class="hero__item">
        <div class="hero__item-icon">
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.31802 2.31802C0.56066 4.07538 0.56066 6.92462 2.31802 8.68198L10.0001 16.364L17.682 8.68198C19.4393 6.92462 19.4393 4.07538 17.682 2.31802C15.9246 0.56066 13.0754 0.56066 11.318 2.31802L10.0001 3.63609L8.68198 2.31802C6.92462 0.56066 4.07538 0.56066 2.31802 2.31802Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__item-title text-p-large">Starter</h3>
        <p class="hero__item-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__item-price heading-h2">
          $100
          <span class="hero__item-price-text text-p-default"> /mo </span>
        </div>
        <h4 class="hero__item-list-title text-p-default">What’s included:</h4>
        <ul class="hero__item-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--disabled">History of all Liked Photos</li>
          <li class="hero__plans-item hero__plans-item--disabled">Directory Listing</li>
          <li class="hero__plans-item hero__plans-item--disabled">Customize Your Profile</li>
          <li class="hero__plans-item hero__plans-item--disabled">Display Your Workshops</li>
        </ul>
        <button class="hero__item-btn text-p-default">Chose Plan</button>
      </li>
    </ul>
  </div>
</section>
