<section class="started">
  <div class="container started__container">
    <div class="started__form-wrapper">
      <h3 class="started__form-title heading-h4">Let’s level up your brand</h3>
      <p class="started__form-text text-p-medium">
        You can reach us anytime
        <a class="started__form-link" href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="started__form">
        <div class="started__form-top">
          <label class="started__form-label text-p-small">
            First name
            <input
              type="text"
              class="started__form-input"
              placeholder="First name"
              required
            />
          </label>
          <label class="started__form-label text-p-small">
            Last name
            <input
              type="text"
              class="started__form-input"
              placeholder="Last name"
              required
            />
          </label>
        </div>
        <label class="started__form-label text-p-small">
          Email
          <input
            type="email"
            class="started__form-input"
            placeholder="you@company.com"
            required
          />
        </label>
        <label class="started__form-label text-p-small">
          Phone number
          <input
            id="phone"
            type="tel"
            class="started__form-input"
            placeholder="+1 (555) 000-0000"
            required
          />
        </label>
        <label class="started__form-label text-p-small">
          Message
          <textarea
            class="started__form-input started__form-input--textarea"
            placeholder="Leave us a message..."
            required
          ></textarea>
        </label>
        <button class="started__form-btn text-p-default button-form" type="submit">Get Started</button>
      </form>
    </div>
    <picture>
      <source srcset="./img/started.avif" type="image/avif" />
      <source srcset="./img/started.webp" type="image/webp" />
      <img
        class="started__img"
        width="987"
        height="885"
        loading="lazy"
        src="./img/started.jpg"
        alt="Woman and man high-five each other"
      />
    </picture>
  </div>
</section>
