<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__subtitle">
      <p class="hero__subtitle-text text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <div class="hero__subtitle-img"></div>
    </div>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__article">
          <picture>
            <source srcset="./img/about/about_hero-1.avif" type="image/avif" />
            <source srcset="./img/about/about_hero-1.webp" type="image/webp" />
            <img src="./img/about/about_hero-1.jpg" alt="example" />
          </picture>
        </div>
        <div class="swiper-slide hero__article">
          <picture>
            <source srcset="./img/about/about_hero-2.avif" type="image/avif" />
            <source srcset="./img/about/about_hero-2.webp" type="image/webp" />
            <img src="./img/about/about_hero-2.jpg" alt="example" />
          </picture>
          <h5 class="hero__article-title heading-h5">What we believe in</h5>
          <p class="hero__article-text text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="hero__article-link text-p-default" href="#"
            >See Details -></a
          >
        </div>
        <div class="swiper-slide hero__article">
          <picture>
            <source srcset="./img/about/about_hero-3.avif" type="image/avif" />
            <source srcset="./img/about/about_hero-3.webp" type="image/webp" />
            <img src="./img/about/about_hero-3.jpg" alt="example" />
          </picture>
        </div>

        <div class="swiper-slide hero__article">
          <picture>
            <source srcset="./img/about/about_hero-3.avif" type="image/avif" />
            <source srcset="./img/about/about_hero-3.webp" type="image/webp" />
            <img src="./img/about/about_hero-3.jpg" alt="example" />
          </picture>
        </div>
      </div>
      <div class="swiper-control hero__slider-control">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="hero__bottom">
      <h3 class="hero__bottom-title heading-h2">
        Powerful ideas & sales acceleration
      </h3>
      <p class="hero__bottom-text text-p-large">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </p>
    </div>
  </div>
</section>
