.partners {
  padding: 86px 0;
  overflow: hidden;

  @include mobile {
    padding: 66px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 40px 30px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    width: 100%;
    max-width: 323px;
    font-weight: 500;
    line-height: 1.8;
    color: #7e8492;

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
    }
  }

  &__list {
    width: 100%;
  }

  &__wrapper {
    @include flex-all-center;
    gap: 10px 30px;
    flex-wrap: wrap;

    @include mobile {
      all: unset;
    }
  }

  &__item {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 16px;
    width: 160px;
    height: 150px !important;
    background-color: #fff;
  }
}
