.button {
  &-form {
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    transition: var(--transition);

    @include mobile {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

// .swiper-btns {
//   position: relative;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   overflow: hidden;
//   border-radius: 50%;
//   width: 80px;
//   height: 80px;

//   &::after {
//     content: '';
//     position: absolute;
//     inset: 0;
//     background-image: url('./../icons/arrows.svg');
//     background-position: center;
//     background-size: 50%;
//     background-repeat: no-repeat;
//     z-index: -1;
//   }
// }

// .swiper-button-prev{
//   z-index: 10;
// }