<div class="posts">
  <div class="container posts__container">
    <div class="posts__col">
      <a href="./../../blog-item.html">
        <article class="article">
          <picture>
            <source
              srcset="./img/posts/post_article-1.avif"
              type="image/avif"
            />
            <source
              srcset="./img/posts/post_article-1.webp"
              type="image/webp"
            />
            <img
              class="article__img"
              src="./img/posts/post_article-1.jpg"
              alt="post_article"
            />
          </picture>
          <h3 class="article__title heading-h3">
            How we perform long-running tasks using AWS services
          </h3>
          <p class="article__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </article>
      </a>
      <a href="./../../blog-item.html">
        <article class="article">
          <picture>
            <source
              srcset="./img/posts/post_article-2.avif"
              type="image/avif"
            />
            <source
              srcset="./img/posts/post_article-2.webp"
              type="image/webp"
            />
            <img
              class="article__img"
              src="./img/posts/post_article-2.jpg"
              alt="post_article"
            />
          </picture>
          <h3 class="article__title heading-h3">
            How to ask when doing User Research
          </h3>
          <p class="article__text text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </article>
      </a>
    </div>
    <div class="posts__col">
      <a href="./../../blog-item.html">
        <article class="article">
          <picture>
            <source
              srcset="./img/posts/post_article-3.avif"
              type="image/avif"
            />
            <source
              srcset="./img/posts/post_article-3.webp"
              type="image/webp"
            />
            <img
              class="article__img"
              src="./img/posts/post_article-3.jpg"
              alt="post_article"
            />
          </picture>
          <h3 class="article__title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h3>
          <p class="article__text text-p-medium">
            Make alternatives or other options for the design we are making. For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </article>
      </a>
      <a href="./../../blog-item.html">
        <article class="article">
          <picture>
            <source
              srcset="./img/posts/post_article-4.avif"
              type="image/avif"
            />
            <source
              srcset="./img/posts/post_article-4.webp"
              type="image/webp"
            />
            <img
              class="article__img"
              src="./img/posts/post_article-4.jpg"
              alt="post_article"
            />
          </picture>
          <h3 class="article__title heading-h3">
            Webflow Break the Coding Barrier
          </h3>
          <p class="article__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </article>
      </a>
    </div>
  </div>
</div>
