<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/1.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/2.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/3.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/4.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/5.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/6.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/7.svg"
          alt="Logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/8.svg"
          alt="Logo icon"
        />
      </li>
    </ul>
  </div>
</section>
