<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <div class="partners__wrapper">
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/1.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/2.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/3.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/4.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/5.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/6.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/7.svg"
            alt="Logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./img/svgicons/partners/8.svg"
            alt="Logo icon"
          />
        </li>
      </div>
    </ul>
  </div>
</section>
